<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid shadow-lg">
    <h3 class="text-center my-4">Latest polls</h3>
    <div id="poll-list">
      {{#each polls}}
        {{#compare @index "<" 10}}
          <div class="poll-btn">
            <a class="poll-link text-center" href="/poll/{{ this.poll-name }}">
              <h6>{{ this.poll-name }}</h6>
            </a>
          </div>
        {{else}}
          <div class="poll-btn" hidden>
            <a class="poll-link text-center" href="/poll/{{ this.poll-name }}">
              <h6>{{ this.poll-name }}</h6>
            </a>
          </div>
        {{/compare}}
      {{else}}
        <h2 class="text-center">Loading polls...</h2>
      {{/each}}
    </div>
    <button class="btn default-btn btn-block my-2" id="load-more-btn">Load more...</button>
  </div>
</div>
<script src="/home.js"></script>
